<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.buu.note.dao.NoteDaoMapper">
  <resultMap id="BaseResultMap" type="cn.buu.note.entity.NoteDao">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="note_title" jdbcType="CHAR" property="noteTitle" />
    <result column="note_text" jdbcType="VARCHAR" property="noteText" />
    <result column="label" jdbcType="BIT" property="label" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, note_title, note_text, label, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from note_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  
    
    <select id="selectByLimit" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    n.*
    ,d.name as labelDesc
    from note_info n
    left join dict d on d.code = n.label and d.data_code = 'note'
    limit #{prefix},#{suffix}
  	</select>
  
    <select id="selectByCreateUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from note_info
    where phone = #{phone}
  	</select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from note_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.buu.note.entity.NoteDao">
    insert into note_info (id, phone, note_title, 
      note_text, label, create_time, 
      modify_time)
    values (#{id,jdbcType=BIGINT}, #{phone,jdbcType=INTEGER}, #{noteTitle,jdbcType=CHAR}, 
      #{noteText,jdbcType=VARCHAR}, #{label,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.buu.note.entity.NoteDao">
    insert into note_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="noteTitle != null">
        note_title,
      </if>
      <if test="noteText != null">
        note_text,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="noteTitle != null">
        #{noteTitle,jdbcType=CHAR},
      </if>
      <if test="noteText != null">
        #{noteText,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.buu.note.entity.NoteDao">
    update note_info
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="noteTitle != null">
        note_title = #{noteTitle,jdbcType=CHAR},
      </if>
      <if test="noteText != null">
        note_text = #{noteText,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.buu.note.entity.NoteDao">
    update note_info
    set phone = #{phone,jdbcType=INTEGER},
      note_title = #{noteTitle,jdbcType=CHAR},
      note_text = #{noteText,jdbcType=VARCHAR},
      label = #{label,jdbcType=BIT},
    <!--   create_time = #{createTime,jdbcType=TIMESTAMP}, -->
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>