<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.buu.note.dao.PostDaoMapper">
  <resultMap id="BaseResultMap" type="cn.buu.note.entity.PostDao">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="note_id" jdbcType="BIGINT" property="noteId" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, note_id, post, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from post_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectMaxId" resultType="java.lang.Long" >
    select 
    max(id)+1 as id
    from post_info
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from post_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.buu.note.entity.PostDao">
    insert into post_info (id, phone, note_id, 
      post, create_time, modify_time
      )
    values (#{id,jdbcType=BIGINT}, #{phone,jdbcType=INTEGER}, #{noteId,jdbcType=BIGINT}, 
      #{post,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.buu.note.entity.PostDao">
    insert into post_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="noteId != null">
        note_id,
      </if>
      <if test="post != null">
        post,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="noteId != null">
        #{noteId,jdbcType=BIGINT},
      </if>
      <if test="post != null">
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.buu.note.entity.PostDao">
    update post_info
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="noteId != null">
        note_id = #{noteId,jdbcType=BIGINT},
      </if>
      <if test="post != null">
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.buu.note.entity.PostDao">
    update post_info
    set phone = #{phone,jdbcType=INTEGER},
      note_id = #{noteId,jdbcType=BIGINT},
      post = #{post,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>