<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.buu.note.dao.remindDaoMapper">
  <resultMap id="BaseResultMap" type="cn.buu.note.entity.remindDao">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="label" jdbcType="BIT" property="label" />
    <result column="cron" jdbcType="VARCHAR" property="cron" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="rate" jdbcType="TINYINT" property="rate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, text, label, cron, start_time, end_time, rate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from remind_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from remind_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.buu.note.entity.remindDao">
    insert into remind_info (id, phone, text, 
      label, cron, start_time, 
      end_time, rate)
    values (#{id,jdbcType=BIGINT}, #{phone,jdbcType=INTEGER}, #{text,jdbcType=VARCHAR}, 
      #{label,jdbcType=BIT}, #{cron,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR}, #{rate,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.buu.note.entity.remindDao">
    insert into remind_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="cron != null">
        cron,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="rate != null">
        rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=BIT},
      </if>
      <if test="cron != null">
        #{cron,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.buu.note.entity.remindDao">
    update remind_info
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=BIT},
      </if>
      <if test="cron != null">
        cron = #{cron,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.buu.note.entity.remindDao">
    update remind_info
    set phone = #{phone,jdbcType=INTEGER},
      text = #{text,jdbcType=VARCHAR},
      label = #{label,jdbcType=BIT},
      cron = #{cron,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>