<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.buu.note.dao.UserDaoMapper">
  <resultMap id="BaseResultMap" type="cn.buu.note.entity.UserDao">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="head_path" jdbcType="VARCHAR" property="headPath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, pwd, open_id, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where phone = #{phone,jdbcType=INTEGER}
  </select>
  
    <select id="selectByOpenId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where open_id = #{openId,jdbcType=VARCHAR}
  </select>
  
   <select id="selectUserByPhone" parameterType="java.lang.Integer" resultType="cn.buu.note.entity.UserDao">
    select 
  	id, phone,open_id as openId, head_path as headPath
    from user_info
    where phone =#{phone,jdbcType=INTEGER}
  </select>
  
    <select id="ifAclitvate" parameterType="java.lang.Integer" resultType="java.lang.Boolean">
    select 
    if(is_aclivate,'true','false')
    from user_info
    where phone =#{phone,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.buu.note.entity.UserDao">
    insert into user_info (id, phone, pwd, 
      open_id, create_time, modify_time
      )
    values (#{id,jdbcType=BIGINT}, #{phone,jdbcType=INTEGER}, #{pwd,jdbcType=VARCHAR}, 
      #{openId,jdbcType=VARCHAR}, now(),now()
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.buu.note.entity.UserDao">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.buu.note.entity.UserDao">
    update user_info
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.buu.note.entity.UserDao">
    update user_info
    set phone = #{phone,jdbcType=INTEGER},
      pwd = #{pwd,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where phone =#{phone,jdbcType=INTEGER}
  </update>
</mapper>